/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
  margin: 100px;
}

.container {
  display: grid;
}

img {
  display: block;
  border-radius: 100em;
  border: 15px solid #496d62;
}

.container-gallery {
  display: grid;
  position: relative;
}

.gallery {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  position: relative;
  display: grid;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 1px;
  aspect-ratio: 1 / 2;
}

.gallery-item-info {
  position: absolute;
  bottom: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 0;
  background: rgba(128, 128, 128, 0.2);
  transition: ease;
  transform: translate(-50%, -50%);
}

.gallery-item:hover .gallery-item-info {
  bottom: 0;
  height: 100%;
}

.gallery-item-likes {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  padding-right: 4em;
  color: #faf9f6;
  text-align: center;
  position: relative;
  bottom: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-item-comments {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  padding-left: 4em;
  color: #faf9f6;
  text-align: center;
  position: absolute;
  bottom: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.gallery-item-type {
  position: absolute;
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  color: #faf9f6; /* Icon color */
  font-size: 1.5em;
  padding: 5px; /* Optional: Add padding */
  border-radius: 3px; /* Optional: Rounded corners */
  transform: rotate(180deg);
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 2);
}
